<div class="cont">
  <div
    color="primary"
    class="tip-container"
    *ngFor="let tip of tips; index as i"
  >
    <div class="name">
      {{ tip.team1.shortName }}
    </div>
    <img src="{{ tip.team1.teamIconUrl }}" alt="" />
    <input type="number" class="prediction" [(ngModel)]="tip.tipHomeScore" />
    <input type="number" class="prediction" [(ngModel)]="tip.tipAwayScore" />
    <img src="{{ tip.team2.teamIconUrl }}" alt="" />
    <div class="name">
      {{ tip.team2.shortName }}
    </div>
  </div>
  <button
    mat-raised-button
    color="primary"
    (click)="save()"
    [disabled]="tipTime"
  >
    Speichern
  </button>
  <div class="error" *ngIf="!this.allTipsTipped">{{ this.feedback }}</div>
  <div class="success" *ngIf="this.allTipsTipped">{{ this.feedback }}</div>
</div>
