.tip-container{

  display: inline-grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
  justify-items: center;
  width: 22em;
  border-radius: 10px;
  border-color: #e0e0e0;
  border-style: solid;
  height: 5em;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bolder;
  background-color: #e0e0e0;

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  text-align: center;
}
.cont{


  align-items: center;
  justify-items: center;
  margin-top: 0.8em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  row-gap: 3em;
  flex-wrap: wrap;
}

.prediction {
  align-self: center;
  justify-self: center;
  width: 2.3em;
  height: 3em;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  text-align: center;
}
.name{
  align-self: center;
  text-align: center;
}
img{
  align-self: center;
  text-align: center;
  max-height: 2em;
  max-width: 2em;
}
button{
  margin-top:3em;
  margin-left: 7%;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
@media (max-width:800px) {
  .cont{

    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  }

  .tip-container{
    width: 11em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .name {
    display: none;
  }
}
@media (min-width:1400px) {
  .cont{

    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
  }


}
