<div class="container sidenav">
  <mat-nav-list>
    <mat-list-item class="sidenav-brand" routerLink="tip">
      <h1>TP</h1>
    </mat-list-item>
    <mat-list-item routerLink="tip">
      <a><mat-icon>post_add</mat-icon></a>
    </mat-list-item>
    <mat-list-item routerLink="points">
      <a><mat-icon>table_chart</mat-icon></a>
    </mat-list-item>
    <mat-list-item routerLink="group">
      <a><mat-icon>groups</mat-icon></a>
    </mat-list-item>
    <mat-list-item routerLink="login" *ngIf="!this.tokenService.hasToken">
      <a><mat-icon>login</mat-icon></a>
    </mat-list-item>
    <mat-list-item *ngIf="this.tokenService.hasToken">
      <a (click)="logout()"><mat-icon>logout</mat-icon></a>
    </mat-list-item>
  </mat-nav-list>
</div>
