.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.heading > h2 {
  margin-bottom: 0;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
}
.groupList {
  list-style: disc;
}
