form {
  display: flex;
  flex-direction: column;
}
.error {
  color: red;
}
mat-form-field {
  width: 20em;
}
button {
  margin-right: 1em;
  width: 6em;
}
.container {
  margin-left: auto;
  width: 65%;
}
.buttons {
  display: flex;
  flex-direction: row;
}
